html, body {
    height: 100%;
}

body {
  background-image: url("/../../assets/img/flip-chat.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

app-root {
  height: 100%;
  display: block;
}