<div class="container">
  <img src="../../../assets/img/248-512.png" alt="logo">
  <p>Share this code and hit join or input a code to join a room</p>
  <form (ngSubmit)="joinChat(roomCode.value, handle.value)" #form="ngForm" novalidate>
    <input type="text" value={{handleName}} placeholder="Your handle here...." #handle [ngClass]="{'has-error': shortName}">
    <input type="text" value={{randomRoom}} #roomCode>
    <button>Join Room</button>
  </form>
</div>



<!-- <div class="field" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
  <label>...</label>
  <input type="text" name="username" [(ngModel)]="username" #usernameField="ngModel" required minlength="6" [disabled]="processing"
  />
  <div *ngIf="feedbackEnabled && usernameField.errors">
    <p *ngIf="usernameField.errors.required" class="validation">username required</p>
    <p *ngIf="usernameField.errors.minlength" class="validation">username is too short</p>
  </div>
</div> -->