<div class="container">
  <div class="header">
    <a [routerLink]="['/']">
      <img src="../../../assets/img/exit.png" alt="exit">
    </a>
  </div>
  <div class="container-body">
    <p class="passive-text" *ngIf="!newRoom">Join a chat room</p>
    <p class="passive-text" *ngIf="newRoom">Create a chat room</p>
    <form (ngSubmit)="joinChat(roomCode, password.value)" #form="ngForm" novalidate>
      <div>
        <label class="passive-text" for="code">Room code</label>
        <input type="text" [(ngModel)]="roomCode" (ngModelChange)="checkRoom()" name="code">
      </div>
      <div>
        <label class="passive-text" for="code">Password</label>
        <input type="password" #password [ngClass]="{'passwordNeeded': needsPassword}">
      </div>
      <button *ngIf="!newRoom">Join Room</button>
      <button *ngIf="newRoom">Create Room</button>
    </form>
  </div>
</div>