<div class="chat-container">
  <div class="chat-header">
    <h1>Room: {{roomId}}</h1>
    <a (click)="disconnect()">
      <img src="../../../assets/img/exit.png" alt="disconnectChat">
    </a>
  </div>
  <div class="chat-body" #scrollMe>
    <ul *ngIf="messages">
      <li *ngFor="let message of messages" [ngClass]="{'is-user': message.isUser}">
        <p>
          <span class="handler-display">{{ message.handle }}</span>
          {{ message.message }} </p>
      </li>
    </ul>
  </div>
  <div class="chat-typer">
    <input type="text" placeholder="Type your message here" #message>
    <a (click)="sendMessage(message.value)">
      <img src="../../../assets/img/248-512.png" alt="sendMessage">
    </a>
  </div>
</div>