<div class="chat-container">
  <div class="chat-header">
    <h1>Room: {{roomId}}</h1>
    <a (click)="disconnect()">
      <img src="../../../assets/img/exit.png" alt="disconnectChat">
    </a>
  </div>
  <div class="chat-body" #scrollMe>
    <ul *ngIf="messages">
      <li *ngFor="let message of messages" [ngClass]="{'is-user': message.isUser}">
        <p>
          <span class="handler-display">{{ message.handle }}</span>
          {{ message.message }} </p>
      </li>
    </ul>
  </div>
  <div class="chat-typer">
    <form (ngSubmit)="sendMessage(message.value)" #form="ngForm" novalidate>
      <input type="text" [(ngModel)]="messageText" name="messageInput" placeholder="Type your message here" #message>
      <button type="submit" [disabled]="processing">Send</button>
    </form>
  </div>
</div>