@import '../../../sass/abstracts/_variables.scss';

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .chat-header {
    text-align: center;
    height: 10vh;
    border-bottom: 3px solid $primary-color;
    border-radius: 5px;
  }

  .chat-typer {
    height: 6vh;
    margin: 5px;
    margin-bottom: 10px;
    display:flex;
    justify-content: space-around
  }

  .chat-typer input {
    border: none;
    background: $primary-color;
    width: 80%;
    border-radius: 25px;
    padding-left: 10px;
    outline: none;
  }

  .chat-typer a {
    width: 20%;
    text-align: center;
  }

  .chat-typer a img {
    height: 100%;
  }
}