@import '../../../sass/abstracts/_variables.scss';

.chat-container {
  color: $font-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .chat-header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 10vh;
    border-bottom: 3px solid $primary-color;
    border-radius: 5px;
    padding-left: 10px;

    a {
      height: 100%;

      img {
        height: 80%;
        margin: 10% 0;
      }
    }
  }

  .chat-body {
    flex-grow: 1;
    padding: 0 10px;
    overflow: auto;
    ul {
      list-style: none;
      padding-left: 0;
    }
  }

  .chat-body {
    max-height: 80vh;
    ul {
      display: flex;
      flex-direction: column;

      li {
        background: $primary-color;
        min-width: 60%;
        max-width: 60%;
        overflow: hidden;
        border-radius: 8px;
        padding: 5px;
        margin-bottom: 10px;

        .handler-display {
          display: block;
          font-size: 12px;
          font-weight: bold;
        }
      }
      .is-user {
        align-self: flex-end;
        padding-right: 5px;
      }
    }
  }

  .chat-typer {
    height: 6vh;
    margin: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;

    input {
      border: none;
      background: $primary-color;
      width: 80%;
      border-radius: 25px;
      padding-left: 10px;
      outline: none;
      color: $font-color;
    }

    a {
      width: 20%;
      text-align: center;

      img {
        height: 100%;
      }

      img:active {
        filter: grayscale(0.5) blur(10px);
      }
    }
  }
}
