@import '../../../sass/abstracts/_variables.scss';

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .chat-header {
    text-align: center;
    height: 10vh;
    border-bottom: 3px solid $primary-color;
    border-radius: 5px;
  }

  .chat-body {
    flex-grow: 1;

    ul {
      list-style: none;
      padding-left: 10px;
    }
  }
  
  .chat-body {
    ul {
      li {
        background: $primary-color;
        max-width: 60%;
        overflow: hidden;
        margin-bottom: 5px;
        border-radius: 8px;
        color: white;
        padding: 5px;

        .handler-display {
          display: block;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
  }

  .chat-typer {
    height: 6vh;
    margin: 5px;
    margin-bottom: 10px;
    display:flex;
    justify-content: space-around;

    input {
      border: none;
      background: $primary-color;
      width: 80%;
      border-radius: 25px;
      padding-left: 10px;
      outline: none;
      color: white;
    }

    a {
      width: 20%;
      text-align: center;

      img {
        height: 100%;
      }

      img:active {
        filter: grayscale(0.5) blur(10px);
      }

      
    }
  }
}